html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    /*display: table-cell;*/
    vertical-align: middle;
    text-align:center;
}

form.wd_form{
    vertical-align:middle
    test-alignment:center
}

textarea{
    width:120px;
    height: 420px;
    padding: 0;
    border: 1px solid #ccc;
    text-align:center;
}

input[type="text"]{
    text-align: center;
}



div.guessConsole{
    position: relative;
    float:left;
}

div.resultsConsoleWrapper{
    padding-top: 0px;
    padding-left: 50px;
    position: relative;
    float:left
    /*display: table-cell;*/
}

div.ng_view_wrapper{
    padding-top:50px;
}

.resultsConsoleWrapper.resultsConsole{
    display: inline;
}

.inline{
    display: inline;
}