html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    /*display: table-cell;*/
    vertical-align: middle;
    text-align:center;
}

form.wd_form{
    vertical-align:middle
    test-alignment:center
}

textarea{
    width:100px;
    height:300px;
    padding: 0;
    border: 1px solid #ccc;
    text-align:center;
}