<div ng-controller="localGameCtrl" class="mainGame">
    <h1><u>Word Game Program: Local</u></h1>
    <form class="wd_form form-style-5">
        <div class="guessConsole">
            <h3>Input Solution Here:</h3>
            <input type="text" id="solutionTextbox" class="wd_formText" hint="Put Solution Here"/><br/>
            <input type="button" ng-click="submitSolution()" class="wd_formButton" id="submitSolutionBtn" value="Submit Solution"/>
            <br/>
            <p id="wordLengthLabel">Word is 0 characters long.</p>
            <p id="repeatingLabel"></p>
            <p id="guessLengthLabel"></p>
            <br/>
            <h3>Input Guess Here:</h3>
            <input type="text" id="guessTextbox" class="wd_formText" hint="Guess Here" ng-model="guessWord"/><br/>
            <input type="button" ng-click="submitGuess()" class="wd_formButton" id="submitGuessBtn" value="Submit Guess"/>
        </div>
        <div class="resultsConsoleWrapper">
            <div class="resultsConsole">
                <h4>Results:</h4>
                <span>
                    <textarea id="guessWords" contenteditable="false" class="wd_formTextarea"></textarea>
                    <textarea id="numCorrectTextarea" contenteditable="false" class="wd_formTextarea"></textarea>
                    <textarea id="posCorrectTextarea" contenteditable="false" class="wd_formTextarea"></textarea>
                </span>
            </div>
        </div>
    </form>
</div>